.main {
    background-color: #6b0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 2.5%;
    border-radius: 2%;

}
.mainimage {
    width: 25%;
    height: auto;
    border-radius: 16px;

}
.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.5%;
    gap: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 2.5%;
    gap: 20px;
}
.playicon {
    color: #ffffff;
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
    gap: 20px;

}

.shuffleicon {
    color: #ffffff;
    font-size: 1.8rem;
}

.card {
    background-color: #480000;
    border-radius: 16px;
}